{
	"presets": ["es2015", "react"],
	"plugins": ["transform-async-to-generator"],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }],
        ["import", {
          "libraryName": "antd",
          "libraryDirectory": "lib",
          "style": 'css'
        }]
      ]
    }
  }
}